.container {
  display: flex;
  border-color: #004623;
  border-width: thick;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 350;
}

.grid-breakdown-and-summary-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 300px 260px;
  column-gap: 20px;
}

.summary-amount {
  text-align: center;
  color: rgb(90, 170, 220);
  font-weight: 500;
  font-size: 18px;
}

.button {
  height: 40px;
  width: 130px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(90, 170, 220);
  font-size: 15px;
  border-width: 1px;
  border-color: rgb(90, 170, 220);
  border-style: solid;
}

.button:hover {
  height: 40px;
  width: 130px;
  padding: 5px;
  background-color: rgb(90, 170, 220);
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-width: 1px;
  border-color: rgb(90, 170, 220);
  border-style: solid;
}

.grid-container-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 7px;
}

.grid-container-wrapper-tp-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-container-wrapper-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-container-tp-info {
  display: grid;
  grid-template-columns: 130px 150px;
  grid-auto-rows: minmax(32px, 32px);
  column-gap: 20px;
}

.grid-container-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid-container-breakdown {
  display: grid;
  grid-template-columns: 70px 150px;
  grid-auto-rows: minmax(32px, 32px);
  column-gap: 20px;
}


/* .grid-container-summary > div {
  padding: 0px;
} */

.item1 {
  grid-column: 1 / span 2;
  font-weight: bolder;
}

.item2,
.item4,
.item6,
.item8,
.item10,
.item12,
.item14 {
  text-align: right;
  overflow: hidden;
}

#id-container-tp-info .item2,
#id-container-tp-info .item4,
#id-container-tp-info .item6,
#id-container-tp-info .item8,
#id-container-tp-info .item10,
#id-container-tp-info .item12,
#id-container-tp-info .item14 {
  text-align: left;
  overflow: hidden;
}

#id-container-personal .item2,
#id-container-personal .item4,
#id-container-personal .item6,
#id-container-personal .item8,
#id-container-personal .item10,
#id-container-personal .item12,
#id-container-personal .item14 {
  text-align: left;
  overflow: hidden;
}

#PLACEHOLDER2 .item2,
#PLACEHOLDER2 .item4,
#PLACEHOLDER2 .item6,
#PLACEHOLDER2 .item8,
#PLACEHOLDER2 .item10,
#PLACEHOLDER2 .item12,
#PLACEHOLDER2 .item14 {
  text-align: left;
  overflow: hidden;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.card {
  width: clamp(150px, 10vw, 400px);
  background-color: lightblue;
  padding: 2rem 1rem 1rem;
  position: relative;
  overflow: hidden;
}
.date_of_birth {
  color: #004623;
}
.card h1 {
  font-size: 1.2rem;
}
.card p {
  font-size: 0.8rem;
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.16;
  width: 90%;
}
